<h3>{{ leyenda }} - {{progreso}}</h3>

<div class="input-group">
    <div class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarProgreso(-5)">
          <i class="mdi mdi-minus"></i>
        </button>
    </div>

    <input #txtProgress type="number" class="form-control" name="cProgreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100">

    <div class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarProgreso(+5)">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>